<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDRaIl2iJ4A5C4Ci7HC-YiAXtqIayo6XW8</string>
	<key>GCM_SENDER_ID</key>
	<string>115482111207</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.verygoodcore.happy-app.dev</string>
	<key>PROJECT_ID</key>
	<string>facebook-clone-2a0d0</string>
	<key>STORAGE_BUCKET</key>
	<string>facebook-clone-2a0d0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:115482111207:ios:88f95f2108ba74b23dc642</string>
</dict>
</plist>